
<div  class="row " >
    <div id="modal" class="centered modal-container">
        <div class="col-md-1 pull-right"  ng-click="closeModal('comic')" style="cursor: pointer">
            <img  src="app/assets/img/btn-close.png"/>
        </div>

        <div class="col-xs-12 col-md-12">
            <img class="col-xs-4 col-md-3 comic-img-modal"  src="{{selectedComic.thumbnail.path}}.{{selectedComic.thumbnail.extension}}" />
            <div class="col-xs-8 col-md-6 comic-info-modal" >
                <p class="character-title" >{{selectedComic.title}}</p>
                <p class="description-txt">{{selectedComic.description}}</p>
            </div>

        </div>

        <div class="" style="margin-bottom: 0px">
            <div class="col-md-6 btn-add " ng-if="comicAdded == false" ng-click="addToFavourites()">
                <img class="" style="margin-top: 10px;margin-left: 10%;" src="app/assets/img/btn-favourites-default.png"/>
                <p class="btn-font" align="center">ADD TO FAVOURITES</p>
            </div>

            <div class="col-md-6 btn-added"  ng-if="comicAdded == true" ng-click="deleteToFavourites()">
                <img  style="margin-top: 10px;margin-left: 10%;"  src="app/assets/img/btn-favourites-primary.png"/>
                <p class="btn-font" align="center" >ADDED TO FAVOURITES<p></p>
            </div>
            <div class="col-md-6 btn-shop " ng-click="addItemToCart(selectedComic.title)">
                <img style="margin-top: 10px;margin-left: 10%;"  src="app/assets/img/shopping-cart-primary.png"/>
                <p class="btn-font" align="center" >BUY FOR $3.99</p>
            </div>
        </div>

    </div>
</div>